:root {
  --background-color: black;
  --text-color: white;
  --accent-color: white;
  --header-color: black;
}
/* General style that is consistent throughout the pages  */
body {
  /* Black background */
  background-color: black;
  /* Consistent font styling */
  font-family: Arial, sans-serif;
  /* Default text color set to white */
  color: #ffffff;
  margin: 0;
}
/* General header settings*/
h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

h2 {
  color: #d3d3d3;
  font-size: 2rem;
}
/* General header settings for smaller screens */
@media (max-width: 1024px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }
}
